.encabezado {
    text-align: center;
    font-size: 200%;
    color: blue;

}

.body {
    background-color: green;
    background: linear-gradient(#0eff1e,#0eff1e);
    background-repeat: repeat;
}

.parrafos{
    margin-left: 20px;
    text-align: left;
    color: yellow;
}