html{background-color:lightgrey;}
html{font-family:trebuchet,geneva,sans-serif;}
nav a:hover{outline:.0625pc solid white;}
html{background:url("images/bg.jpg") no-repeat center center fixed;;}
html{-webkit-background-size:cover;}
html{-moz-background-size:cover;}
p::first-letter,header{color:#4c3803;}
html{-o-background-size:cover;}
header,nav a{text-align:center;}
a,nav a:hover{text-decoration:none;}
html{background-size:cover;}
header,nav a{text-align:center;}
a,nav a:hover{text-decoration:none;}
html{background-size:cover;}
.body{
    background-image: url("images/bg.jpg") cover ;
}
body{margin-left:0;}
body,nav a{margin-bottom:0;}
body{margin-right:0;}
nav a,body{margin-top:0;}
header,aside,article,footer{padding-left:1rem;}
p::first-letter{font-size:1rem;}
article,footer,header,aside{padding-bottom:1rem;}
p::first-letter,a{font-weight:bold;}
nav a,nav{padding-left:0;}
article,header,footer,aside{padding-right:1rem;}
nav,nav a{padding-right:0;}
footer,aside,article,header{padding-top:1rem;}
nav a{flex:auto;}
aside,footer,header,article{box-sizing:border-box;}
nav a,nav,aside,header{border-radius:.208333333in;}
aside,header{background-color:#b28306;}
header{border-bottom-width:1.000000032px;}
nav a{background:#4c3803;}
header{border-bottom-style:solid;}
header{border-bottom-color:currentColor;}
nav a:hover{color:white;}
header{border-image:none;}
nav{display:flex;}
nav{background-color:#ebcd7c;}
nav{padding-bottom:.625pc;}
nav{padding-top:10px;}
nav a{color:#b28306;}
a{color:gray;}
nav a{margin-left:3.75pt;}
nav a{margin-right:5px;}
nav a{padding-bottom:4.999999968px;}
nav a{padding-top:.052083333in;}
nav a{text-decoration:none;}
@media screen and (min-width: 30rem){body,main{display:flex;}body{flex-direction:column;}body{max-width:75rem;}body{margin-left:auto;}body{margin-bottom:auto;}body{margin-right:auto;}body{margin-top:auto;}main{flex-wrap:wrap;}main{box-sizing:border-box;}main{border-bottom-width:.5rem;}main{border-bottom-style:solid;}main{border-bottom-color:currentColor;}main{border-image:none;}nav,header{order:-1;}article{flex:75%;}aside{flex:25%;}}